.logo {
  width: 250px;
}

header {
  background-color: #242423;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  background-color: #242423;
  height: 70px;
  top: 25px;
}

.nav-link {
  padding: 8px 16px;
  border-radius: 10px;
  color: #ffffff;
}

.nav-link:hover {
  padding: 8px 16px;
  border-radius: 10px;
  color: #b4b3b3;
}

body {
  background-color: #1a1a19;
}

.pattern {
  width: 100%;
  height: 150px;
}

.btn-outline-success {
  color: #ffffff !important;
  border-color: #1a1a19 !important;
  background-color: #859f3d !important;
  border-radius: 8px;
  border-width: 0px;
  padding: 6px 14px;
  transition: all 0.25s ease;
}

.btn-outline-success:hover {
  color: #b4b3b3 !important;
  border-color: #1a1a19 !important;
  background-color: #859f3d !important;
  border-radius: 8px;
  border-width: 0px;
  padding: 6px 14px;
  transition: all 0.25s ease;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border-radius: 12px;
  padding: 20px;
  color: #000000;
  background-color: #292928;
  text-align: center;
  border: 1px solid #333;
}

.card {
  background-color: white;
}

.btn-primary {
  background-color: #859f3d !important;
  border-color: #859f3d !important;
  border-radius: 8px;
  padding: 6px 14px;
}

.btn-primary:hover {
  background-color: #859f3d !important;
  border-color: #859f3d !important;
  border-radius: 8px;
  padding: 6px 14px;
  color: #e0e0e0;
}

.btn-primary:active {
  transform: scale(1.2);
  transition: all 0.25s ease;
  background-color: #697e31 !important;
  border-color: #697e31 !important;
}

/* Картки відгуків */
#reviews .card {
  border-radius: 15px;
  background-color: #222; /* темний фон */
  color: white; /* білий текст */
}

#reviews .card .card-title {
  color: #ffffff; /* золотий колір для імен */
}

#reviews .card .card-text {
  color: #ffffff; /* білий текст відгуку */
}

#reviews .card .text-warning {
  color: #ffffff; /* зірочки золоті */
}

/* Додатково стиль для форми */
#reviewForm input,
#reviewForm textarea,
#reviewForm select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

#reviewForm input::placeholder,
#reviewForm textarea::placeholder {
  color: #bbb; /* світло-сірий текст-підказка */
}

#reviewForm button {
  background-color: #4d88ff;
  border-color: #4d88ff;
}

.form-label {
  color: white;
}

.text-center {
  color: white;
}

.container {
  color: white;
}

.form-control {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.cart-btn, .cart-btn1 , .confirm-order-btn{
  background-color: #859f3d !important;
  border-color: #859f3d !important;
  border-radius: 8px;
  padding: 6px 14px;
  color: white;
}

.cart-btn:hover, .cart-btn1:hover , .confirm-order-btn:hover{
  background-color: #859f3d !important;
  border-color: #859f3d !important;
  border-radius: 8px;
  padding: 6px 14px;
  color: #e0e0e0;
}

.cart-btn:active, .cart-btn1:active , .confirm-order-btn:active{
  background-color: #697e31 !important;
  border-color: #697e31 !important;
  transform: scale(1.2);
  transition: all 0.25s ease;
}

.images-row {
  margin-top: 15px;
}

.pattern1 {
  background-color: #31511e;
  height: 45px;
  width: 100vw; /* займає всю ширину екрана */
  margin-left: calc(50% - 50vw); /* виходить за межі центруючого контейнера */
}

.pattern2 {
  background-color: #859f3d;
  height: 35px;
  width: 100vw; /* займає всю ширину екрана */
  margin-left: calc(50% - 50vw); /* виходить за межі центруючого контейнера */
}
.pattern3 {
  background-color: #d7ead7;
  height: 25px;
  width: 100vw; /* займає всю ширину екрана */
  margin-left: calc(50% - 50vw); /* виходить за межі центруючого контейнера */
}

.order{
  display: none;
}

.footer-info{
  color: white;
  text-align: center;
  margin-top: 20px;
}

.footer-rights{
  color: white;
  text-align: center;
  margin-top: 10px;
}

footer{
  background-color: #31511e;
}