.logo {
    width: 250px;
}

header {
    background-color: #242423;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    background-color: #242423;
    height: 70px;
    top: 25px;
}

.nav-link{
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: underline;
    color: #ffffff;
}

body {
    background-color: #1A1A19;
}

.pattern {
    width: 120%;
    height:150px;
}